[submodule "Deep_Learning/Base_Deeplearning_Code"]
	path = Deep_Learning/Base_Deeplearning_Code
	url = https://github.com/brianmanderson/Base_Deeplearning_Code.git
[submodule "Pre_Processing/Make_Single_Images"]
	path = Pre_Processing/Make_Single_Images
	url = https://github.com/brianmanderson/Make_Single_Images.git
[submodule "Pre_Processing/Plot_And_Scroll_Images"]
	path = Pre_Processing/Plot_And_Scroll_Images
	url = https://github.com/brianmanderson/Plot_And_Scroll_Images.git
[submodule "Pre_Processing/Dicom_RT_and_Images_to_Mask"]
	path = Pre_Processing/Dicom_RT_and_Images_to_Mask
	url = https://github.com/brianmanderson/Dicom_RT_and_Images_to_Mask.git
[submodule "Pre_Processing/Nifti_To_Dicom"]
	path = Pre_Processing/Nifti_To_Dicom
	url = https://github.com/brianmanderson/Nifti_To_Dicom.git
[submodule "Raystation_Code/Raystation_Create_Segmentation_For_Site"]
	path = Raystation_Code/Raystation_Create_Segmentation_For_Site
	url = https://github.com/brianmanderson/Raystation_Create_Segmentation_For_Site.git
[submodule "Local_Recurrence_Work"]
	path = Local_Recurrence_Work
	url = https://github.com/brianmanderson/Local_Recurrence_Work.git
[submodule "Raystation_Code/Dicom_RT_and_Images_to_Mask"]
	path = Raystation_Code/Dicom_RT_and_Images_to_Mask
	url = https://github.com/brianmanderson/Dicom_RT_and_Images_to_Mask.git
