./Activations/
/Deep_Learning/Activations/
/Deep_Learning/__pycache__/
/Deep_Learning/Evaluate_Model/Area/
/Deep_Learning/Evaluate_Model/Output/
/Deep_Learning/Evaluate_Model/Test_Output/
/Deep_Learning/Evaluate_Model/Threshold/
/Deep_Learning/Evaluate_Model/Volume/
/Deep_Learning/Evaluate_Model/__pycache__/
__pycache__/
*.py[cod]
/Deep_Learning/password.txt
/Deep_Learning/~$Sphericity.xlsx
/Paper/~$ief Methods - Liver Disease.docx
**.idea**
**__pycache**
/Deep_Learning/Evaluate_Model/Threshold_Seed_Pickles/
